<div class="city-form">
  <form>
    <div class="row">
      <div class="large-6 columns">
        <%= form_tag('/tweets/lost', action: :lost, method: :get) do%>
          <input type="text" placeholder="Enter the city or neighborhood you want to search here." <%= text_area_tag(:city) %>
        <% end %>
      </div>
    </div>
  </form>
</div>

<div class="tweets">
  <ul class="small-block-grid-1">
    <% @lost_pet_tweets.each do |tweet| %>
      <li class="lost-tweet">
        Posted By @<%= tweet.screen_name %> on <%= tweet.posted_at %><br>
        <%= tweet.text %><br>
        <%= link_to "View on Twitter", tweet.url %>
      </li>
    <% end %>
  </ul>
</div>
